html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  background-color: #226666;
}

.card.empty {
  background-color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  padding-left: 1px;
  padding-top: 1px;
  margin-bottom: 20px;
}